<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <div class="container">
        <header>
                <h1>SISTEMA Empleados</h1>
        </header>
        <div id="sidebar">
            @if (IsSectionDefined("SideBar"))
            {
                @RenderSection("SideBar")
            }
            else
            {
                    <h2 style="color: black">Administracion de Empleados</h2>
            }
            
        </div>
        <nav>
            <div id="navSec">
            @Html.ActionLink("Ir a Empleados","Index","Empleado")
            @Html.ActionLink("Insertar Empleado","Insert","Empleado")
            </div>
        </nav>
    <div id="renderbody">
                    @RenderBody()
    </div>

    <footer>
        <h3>info@empleados.com</h3>
        </footer>
    </div>
</body>
</html>
