@model SistemaWebEmpleado.Models.Empleado;

@{
    ViewData["Title"] = "Eliminar";
}
    <p>Desea eliminar este empleado?</p>

@using (Html.BeginForm("Delete", "Empleado", FormMethod.Post))
{
                <div>
                    <span>@Html.DisplayNameFor(model=>model.Nombre)</span>
                    <span>@Html.DisplayFor(model=>model.Nombre)</span>
                </div>
                 <div>
                    <span>@Html.DisplayNameFor(model=>model.Apellido)</span>
                    <span>@Html.DisplayFor(model=>model.Apellido)</span>
                </div>
                <input type="submit" action="Delete"  />

    @Html.ActionLink("Volver", "Index","Empleado")
}

