@model IEnumerable<SistemaWebEmpleado.Models.Empleado>

@{
    ViewData["Title"] = "Index Empleados";
}

@section SideBar
{ <h2 style="color: black">Administracion de Empleado </h2>} 

@Html.ActionLink("Insertar empleado","Insert","Empleado")

@Html.ActionLink("Buscar por ID","BuscarUno","Empleado")

@if (ViewBag.Filtrado)
{
    @Html.ActionLink("Mostrar todo","Index","Empleado")
}

     <table>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Nombre)</th>
            <th>@Html.DisplayNameFor(model=>model.Apellido)</th>
            <th>@Html.DisplayNameFor(model=>model.DNI)</th>
            <th>@Html.DisplayNameFor(model=>model.Legajo)</th>
            <th>@Html.DisplayNameFor(model=>model.FechaNacimiento)</th>
            <th>@Html.DisplayNameFor(model=>model.Titulo)</th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
                           <tr>
                            <td>
                @Html.DisplayFor(modelItem=>item.Nombre)

                            </td>
                            <td>
                @Html.DisplayFor(modelItem=>item.Apellido)
                            </td> 
                            <td>
                @Html.DisplayFor(modelItem=>item.DNI)
                            </td> 
                             <td>
                @Html.DisplayFor(modelItem=>item.Legajo)
                              </td>
                               <td>
                @Html.DisplayFor(modelItem=>item.FechaNacimiento)
                                </td>
                                <td>
                @Html.ActionLink(item.Titulo,"Index","Empleado",new{titulo=item.Titulo })
                                </td>
                            <td>
                @Html.ActionLink("Editar","Editar","Empleado", new{id=item.Id})
                            </td>
                            <td>
                @Html.ActionLink("Eliminar", "Delete", "Empleado", new{id=item.Id})
                            </td>
                        </tr>

    }

    </table>
