@model SistemaWebEmpleado.Models.Empleado;

@{
    ViewData["Title"] = "Insertar empleado";
}

@section SideBar
    {
     <h2 style="color: black">Administracion de Empleado </h2>
} 

     <h1>Insertar empleado</h1>
@using (Html.BeginForm("Insert", "Empleado", FormMethod.Post))
{
                <p>
        @Html.LabelFor(model=>model.Nombre)
        @Html.TextBoxFor(model=>model.Nombre)
        @Html.ValidationMessageFor(model=>model.Nombre)
                </p>
                 <p>
        @Html.LabelFor(model=>model.Apellido)
        @Html.TextBoxFor(model=>model.Apellido)
        @Html.ValidationMessageFor(model=>model.Apellido)
                </p>
                 <p>
        @Html.LabelFor(model=>model.DNI)
        @Html.TextBoxFor(model=>model.DNI)
        @Html.ValidationMessageFor(model=>model.DNI)
                </p>
                <p>
        @Html.LabelFor(model=>model.Legajo)
        @Html.TextBoxFor(model=>model.Legajo)
        @Html.ValidationMessageFor(model=>model.Legajo)
                </p>
                <p>
        @Html.LabelFor(model=>model.FechaNacimiento)
        @Html.TextBoxFor(model=>model.FechaNacimiento, new { type = "date" })
        @Html.ValidationMessageFor(model=>model.FechaNacimiento)
                 </p>
                <p>
        @Html.LabelFor(model=>model.Titulo)
        @Html.TextBoxFor(model=>model.Titulo)
        @Html.ValidationMessageFor(model=>model.Titulo)
                 </p>

                <input type="submit"  action="Insert" />

    @Html.ActionLink("Volver a Index", "Index", "Empleado")
}